/* style.css */
h2{
    font-size: 30px;
}


header{
    background-image: linear-gradient(rgba(204, 208, 205, 0.5), rgba(189, 37, 17, 0.733)),
                    url("../image/gray-elegant-background-with-copy-space.jpg"); 
    background-attachment: fixed;
    width: 100%;

}


/* NAV BAR ******* */
nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 100;
    font-size: 20px;

    ul{
        display: flex;
        
        li{
            margin-left: 10px;
            margin-right: 25px;
            list-style: none ;
            color: #2C302E;
        }
    }

}

nav.scrolled {
    background-color: #e19f9a5c; /* Changer la couleur de fond après le scroll */
}

#premier{
    color: #E0115F;
}

#troisieme{
    color: #E0115F;
}

.home{
    margin-left: 10px;
    margin-top: 10px;

   
}

.liste{
    a{
        text-decoration: none;
        color:#2C302E ;
    }

    a:hover{
        background-color: #27262721;
    }
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.3s ease; /* Ajout d'une transition */
}

.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #2C302E;
    transition: transform 0.3s ease; /* Ajout d'une transition */
}

/* Styles pour la croix */
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


/*********** HEADER ************/
.apparence{
    display: flex;
    justify-content: center;

    .dev{
        margin-right: 40px;
        
    }
}
.apparence{
    span{
        color: #E0115F;
    }
}

.presentation {
            
    p{
        color: #E0115F;
        margin-bottom: 40px;
    }
} 

#Youssef{
    margin-top: 40px;
    color: #E0115F;
}

#Faras{
    margin-top: -30px;
    margin-left: 100px;

}


.reseaux{
    display: flex;
    justify-content: end;
    margin-right: 15px;
    

    a{
        margin-left: 10px;
        margin-bottom: 10px;
    }
}



/******** BIO  *********/

.bio{
    margin: 40px;
    margin-top: 50px;
    padding: 20px;

    h2{
        color: #E0115F;
        margin-top: 70px;

    }

    h3{
        text-align: center;
        
    }

    

    .langages{
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
        padding-top: 10px;

        .section-competence{

            
            #icone-langage{
                text-align: center;
                margin-top: 100px;
            }

        }

        
    }

    
}


/*********** RÉALISATION *****************/
#rder{
    margin-top: 50px;
    
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: center;


    h2{
        color: #E0115F;
        
    }

    .Rea{

        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    
        a{
            margin-left: 100px;
            margin-right: 100px;
            padding-top: 20px;
            text-decoration: none;
            color: #E0115F;
            font-size: 20px;
            text-align: center;
    
            .card{
                padding-bottom: 20px;
                border: solid ;
                text-align: center;
                padding: 10px;
            }

            .card:hover{
                background-color: #e0116095;
            }

            
            
        }
    
        img{
            height: 100px;
            
    
        }
    
        a:hover{
            color: #fffdfd ;
            
        }

        
    }
    
   

    
}

@keyframes zoom {
    from {
        transform: scale(1)
        
    }
    to {
        transform: scale(1.2)
        
    }
}



/********* EFFET VAGUE ***********/

#result {
    position: relative;
    height: 300px;
    
    
}

/* Ajoutez les règles #keyframes ici */
@keyframes wave {
    from {
        transform: scaleY(0);
        background-color: rgba(109, 109, 109, 0.5);
    }
    to {
        transform: scaleY(1);
        background-color: rgba(57, 39, 39, 0.733);
    }
}


.box{
    
    
    width:calc(100% / 22 + 1px);
    height: 100%;
    background-color: rgb(28, 89, 168);
    position: absolute;
    left:0; 
    bottom:0;      
    transform: scaleY(0);
    animation-name: wave;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transform-origin: bottom;      

    
}
#animated_box1{
    left:0;           
    
    animation-delay: .0s;
    
}
#animated_box2{
    left:calc(100% / 22);            
    
    animation-delay: .1s;
}            
#animated_box3{
    left:calc(2 * 100% / 22);         
    
    animation-delay: .2s;
}            
#animated_box4{
    left:calc(3 * 100% / 22);            
    
    animation-delay: .3s;
}            
#animated_box5{
    left:calc(4 * 100% / 22);            
    
    animation-delay: .4s;
}            
#animated_box6{
    left:calc(5 * 100% / 22);            
    
    animation-delay: .5s;
}    
#animated_box7{
    left:calc(6 * 100% / 22);            
    
    animation-delay: .6s;
}            
#animated_box8{
    left:calc(7 * 100% / 22);            
    
    animation-delay: .7s;
}            
#animated_box9{
    left:calc(8 * 100% / 22);            
    
    animation-delay: .8s;
}            
#animated_box10{
    left:calc(9 * 100% / 22);            
    
    animation-delay: .9s;
}            
#animated_box11{
    left:calc(10 * 100% / 22);            
    
    animation-delay: 1.0s;
}                       
#animated_box12{
    left:calc(11 * 100% / 22);            
    
    animation-delay: 1.1s;
}          
#animated_box13{
    left:calc(12 * 100% / 22);            
    
    animation-delay: 1.2s;
}            
#animated_box14{
    left:calc(13 * 100% / 22);            
    
    animation-delay: 1.3s;
}            
#animated_box15{
    left:calc(14 * 100% / 22);            
    
    animation-delay: 1.4s;
}            
#animated_box16{
    left:calc(15 * 100% / 22);            
    
    animation-delay: 1.5s;
}    
#animated_box17{
    left:calc(16 * 100% / 22);           
    
    animation-delay: 1.6s;
}            
#animated_box18{
    left:calc(17 * 100% / 22);            
    
    animation-delay: 1.7s;
}            
#animated_box19{
    left:calc(18 * 100% / 22);            
    
    animation-delay: 1.8s;
}            
#animated_box20{
    left:calc(19 * 100% / 22);            
    
    animation-delay: 1.9s;
}            
#animated_box21{
    left:calc(20 * 100% / 22);            
    
    animation-delay: 2.0s;
}                       
#animated_box22{
    left:calc(21 * 100% / 22);            
    
    animation-delay: 2.1s;
} 



    /* Expérience et formation */
    .experience-formation{

        .experience{
            text-align: center;

            .paragraphe{
                border: solid;
                margin-top: 20px;
                margin-right: 50px;
                margin-left: 50px;
            }
        }


        .formation{
            text-align: center;

            .paragraphe{
                border: solid;
                margin-top: 20px;
                margin-right: 50px;
                margin-left: 50px;
            }
        }
    }


    /******CONTACT***********/

.Contact{
    margin-top: 80px;
    text-align: center;

    .icones{
        display: flex;
        justify-content: space-around;
        margin-top: 60px;


    }
   

    .icone{
        padding: 50px;
        background-color: rgba(57, 39, 39, 0.733);
        display: flex;
        flex-direction: column;


        a{
            text-decoration: none;
            color: #edeaeb ;

        }

        .texte-contact{
            margin-top: 20px;

        }
        
    }

    .icone:hover{
        transform: scale(1.05);
        transition: transform 1s ease;
    }

}


    .cv-telechargeable{
        margin-top: 100px;
        a{
            display: block;
            text-align: center;
            margin-top: 40px;
            text-decoration: none;
    
            p{
                color: #2C302E;
                font-size: 17px;
            }
            
        }

        p{
            text-align: center;
            font-size: 17px;
            
        }
    }


footer{
    text-align: center;
    background-image: url(../image/gray-elegant-background-with-copy-space.jpg) ;
    background-size: cover;
    height: 150px;
    margin-top: 100px;

    .remerciement{
        padding-top: 20px; ;

        p{
            font-size: 20px;
            color: #E0115F;
        }
    }

}


    /* Responsive */

    @media screen and (max-width: 1020px){
        nav .liste {
            display: none; /* Hide the list */
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            background-color: rgba(192, 160, 160, 0.847); /* Or your nav background */
            flex-direction: column;
            align-items: center;
        }
    
        nav .liste ul {
            flex-direction: column;
            width: 100%;
        }
    
        nav .liste ul li {
            margin: 10px 0;
            text-align: center;
            width: 100%;
        }
    
        .hamburger {
            display: flex; /* Show the hamburger */
        }
    
        nav .liste.active {
            display: block; /* Show the list when active */
        }
    }


    @media screen and (max-width: 830px){
        #icone-langage{
            i{
                font-size: 90px;
            }

        }


        .icones{

            .icone{
                font-size: 7px;
            }
        }
    }


    @media screen and (max-width: 680px){
        .apparence{
            display: block;
            text-align: center;
        
            .dev{
                
                padding-top: 20px;
                
            }

            #Youssef{
                margin-top: 5px;
            }
        }
    }


    @media screen and (max-width: 526px){
        .icones{
            display: flex;
            flex-direction: column;
            
        }
    }


    @media screen and (max-width: 478px){
        #rder{

            p{
                font-size: 15px;
            }

            .Rea{

            display: flex;
            flex-direction: column;

            a{
                font-size: 15px;
                margin-top: 10px
                ;

            }
        }
            
        }


        #icone-langage{
            i{
                font-size: 50px;
            }

        }


    }